
h1{
  font-size: 40pt;
  font-family: monospace;
  text-align: center;
  color: orange;
}
.pic{
  width: 30%;
  height: 43%;
  justify-content: space-around;
  float: right;
}
.ls{
  text-align: center;
  padding-right: 30%;
}
.text{
  text-align: justify;
  font-size: 15pt;
  color: white;
  letter-spacing: .5px;
}

.elite{
  color: orange;
  font-style: italic;
  font-size: 20pt;
}
#con2{
  width: 1080px;
  background-color: red;
  padding: 10px;
  margin: auto;
}
.gallery{
  margin:5px;
  border: 5px solid orange;
  float: left;
  width: 250px;
}
.gallery:hover{
  border: 5px solid #404040;

  
}
.desc{
  padding: 10px;
  text-align: center;
  background-color: white; 
  color: orange;
  font-weight: bold;
  text-transform: uppercase;
  height: 80px;
}
.desc:hover{
  color: purple;
  text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: static;
    top: 2px;

}
.list{
    float:grid-auto-flow;
    }
.list a{
    display: block;
    color: white;
    float: left;
    padding: 10px;
    border: groove 2px;
    border-color: orange;
    text-align: center;
    text-decoration: none;
}

.list a:hover {
    background-color: orange;
    border-color: black;
    color: black;
}