<p class="text" id="bodyContainer">
    <img src="images/headshot_aug_19.jpeg" style="padding: 12px; float:left; width:30%; height: 50%;  ">In transitioning into the tech world, I am in an interesting position because I returned to school not only to
    continue my undergrad education but to make a career change. Most of my adult life I have spent working in retail
    management as an operations manager. I have experience working in different teams of various sizes, with different
    personalities, all with their varying strengths and opportunities. As a leader, it was important to set standards,
    led by example, give feedback, take feedback to develop talent and hold others accountable. When I decided
    to return to school I wanted to do something challenging, I felt that in my previous career I was not satisfied
    with the personal satisfaction in my work. I originally came to Lehman as a computer information system major,
    but I quickly realized that programming was something I kept coming back to and my programming courses instilled
    things in me that nothing else did. Programming give me a curiosity, an excitement to learn and forced me to
    learn outside of the class room and for once I enjoyed doing it. I gravitated towards computer science because
    it allowed me to study something that was foreign to me and presented me with the challenge of learning every
    day and more further I go down the rabbit hole, with each successful milestone, it gives me the satisfaction very
    few things do. I am eager to learn and bring my own experiences to an entry-level position in tech. I am someone
    who will work hard in anything I am passionate about and I hope the projects below and along the navigation bar reflect that.
</p>