<!DOCTYPE HTML5>

<head>
    <link rel="stylesheet" href="css/style.css">
    <ul class="list">
        <li>
            <a href="/">Carlos' Portfolio</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/carlosvillamar/">Contact</a>
        </li>
        <li>
            <a href="/dog">YO DAWG!!</a>
        </li>

    </ul>
</head>

<body style="background-image: url(images/wallpaper2.jpg)">

    <div style="padding-left: 20px">
        <form id="form" style=" left: 40%;
            top: 10.5%; 
            position: absolute; padding: 1%" class="text" action="/add" method="POST">
            <h4>Join us share a topic</h4>
            subject:
            <br>
            <input type="text" name="title" id="thoughts" placeholder="What's on your mind?" style="width: 200px">
            <br> message:
            <br>
            <textarea type="text" name="subject" id="subject" placeholder="wrtie something" style="height : 150; width: 200; text-orientation: upright">
            </textarea>
            <br>
            <button type="submit" id="button" style="display: block">Submit</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="padding: 10px; background-color: rgba(3, 3, 53, 0.87); height: auto;">
        <h1>POSTS</h1>
        <table style="padding: 5px; color: white">

            <tbody>
                <% for (let i in result.rows) { %>
                    <tr>
                        <!-- <td id='id'>
                      <%= result.rows[i].id %> -->

                        <td name='title' value='' style=>
                          <span style="padding-bottom: 5px; border-bottom:solid aqua 2px; background-origin: padding-box;"><b><%= result.rows[i].title %></b></span>
                            <br><br>
                        <%= result.rows[i].body %>
                        </td>
                        <!-- <tr name='body' value='' style="text-align: justify">
                            <%= result.rows[i].body %>
                        </tr> -->

                    </tr>
                    <% } %>
            </tbody>

        </table>

    </div>
</body>