<!DOCTYPE HTML5>

<head>
    <link rel="stylesheet" href="css/style.css">
    <% include partials/navBar.ejs %>
</head>

<body style="background-color: #5294e2">

    <div class="formContainer">
        <% include blog/postForm.ejs %>
    </div>
    
    <% include blog/posts.ejs %>
</body>