<!DOCTYPE HTML5>

<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <% include partials/navBar.ejs %>

</head>

<body>
  
  <p class="text" style="background-color: #ccdbf0; padding: 20px">This is an example to demonstrate an ajax calls to an api. Below you will see 3 photos of dogs that will generate at
        random eveytime you refresh this page, thanks in part to the DOG API.
        <br>
    </p>
    
</body>

<% include partials/dog.ejs %>