<!DOCTYPE HTML5>

<head>
  <title>Movie Search Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="script/movie.js"></script>
  <link rel="stylesheet" href="css/style.css">
  
  <% include partials/navBar.ejs %>
</head>

<body style="background-image: url(images/wallpaper2.jpg)">


  <form id="mainForm" style="background-color: #ccdbf0; color: darkslateblue; height: auto; padding: 25;">
    <h2 style="text-align: center ">Search for a movie:</h2>
    <input type="text" name="movieSearcher" id="movieSearcher" value="Type a Movie Title" style="position: sticky; left: 43%; text-align-last: center"
      a/>
    <br>

    <div style="background-color: #4690eb; padding: 10px; margin-top: 10px; border: 3px solid blue;" id="results">
      <h2 id="movie-title">Movie Title</h2>
      <img id="poster" style="border: 3px solid blue;" />
      <br>
      <div style=" margin: auto;
 width: 50%;
 border: 3px solid blue;
 padding: 2%;
 ">
        <p id="para" style="padding: 3%"></p>
        </p>
      </div>
    </div>
  </form>
</body>