<!DOCTYPE HTML5>

<head>

    <title>Carlos' Napster Jukebox</title>
    <% include partials/navBar.ejs %>
</head>

<body style="background-color: lightslategrey">
    <div id="box">
        <div id="dial">
            <ul class="playlist">
                <form id="form">
                    <ul style="float:fixed">

                        <input id="search" name="search" 
                        placeholder="search your favorite artists' top five!!" 
                        style="width: 250; text-align: center">
                        
                        <button type="submit" style="width: 30%">search</button>
                    </ul>
                </form>

                <div id=yo></div>
            </ul>
            <div id="menu-outer">
                <div id="controls">

                    <div id="center">
                        <button class="back_controls">
                            <i class="far fa-caret-square-left" style="background-color: aqua; color: black;  "></i>
                        </button>
                        <button id="play">
                            <i class="far fa-play-circle" style="background-color: aqua; color: black; "></i>
                        </button>
                        <button id="pause">
                            <i class="far fa-pause-circle" style="background-color: aqua; color: black;"></i>
                        </button>
                        <button id="stop">
                            <i class="far fa-stop-circle" style="background-color: aqua; color: black;  "></i>
                        </button>
                        <button class="next_controls">
                            <i class="far fa-caret-square-right" style="background-color: aqua; color: black; "></i>
                        </button>
                    </div>

                </div>

                <audio id="audio">
                </audio>
            </div>
        </div>
    </div>
    <br>
    <div id="blurb"></div>


</body>
<% include partials/napsterScript.ejs %>