<link rel="stylesheet" href="css/style.css">
<ul class="list">
    <li>
        <a href="/">Carlos' Portfolio</a>
    </li>
    <li>
        <a href="/blog">Blog</a>
    </li>

    <li>
        <a href="/dog">YO DAWG!!</a>
    </li>
    <li>
        <a href="/movies">What movie was that?</a>
    </li>
    <li>
        <a href="/napster">Napster???</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/carlosvillamar/">Contact</a>
    </li>
</ul>