<!DOCTYPE HTML5>

<head>
    <link rel="stylesheet" href="style.css">
    <ul class="list">
        <li>
            <a href="/">Carlos' Portfolio</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/carlosvillamar/">Contact</a>
        </li>

    </ul>


</head>


<body id="con2">


    <h1>Meet Carlos Villamar!!!!!!!!!!!!!!</h1>



    <div style="padding-left: 20px">
        <p>My portfolio revolve around </p>




    </div>


</body>