<!DOCTYPE HTML5>

<head>
    <link rel="stylesheet" href="style/style.css" <ul class="list">
    <li>
        <a href="portfolio.ejs">Carlos' Portfolio</a>
    </li>
    <li>
        <a href="blog.ejs">Blog</a>
    </li>

    <li>
        <a href="https://www.linkedin.com/in/carlosvillamar/">Contact</a>
    </li>

    </ul>

</head>

<body>

    <h1>Meet Carlos Villamar!!!!!!!!!!!!!!</h1>



    <div style="padding-left: 20px">





    </div>


</body>