<!DOCTYPE HTML5>

<head>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <% include partials/navBar.ejs %>
    <h1>Welcome to Carlos' Portfolio</h1>

</head>

<body style="background-color: #404552">
    <div style="padding: 10px;">
        <% include partials/about.ejs %>

        <% include androidExamples/tabProject.ejs %>
        
        <% include androidExamples/loafGoProject.ejs %>
     
        <% include androidExamples/wordStackProject.ejs %>
    </div>
</body>