<div id="bodyContainer">
    <div class="row">
        <div class="column">
            <img src="images/loafgo.png" alt="IMG.1" class="pic">
        </div>
        <div class="column">
            <img src="images/loafg0_2.png" alt="IMG.2" class="pic">
        </div>
        <div class="column">
            <img src="images/loaf_go3.png" alt="IMG.3" class="pic">
        </div>
        <div class="column">
            <img src="images/loaf_go4.png" alt="IMG.4" class="pic">
        </div>
        <div class="column">
            <img src="images/loafgo_5.png" alt="IMG.5" class="pic">
        </div>

    </div>
    <p class="text"><span class="appTitle"> Delivery Application Concept:</span> This application was bulit to demostrate how a ponetial Delivery application would
        work. Using the zxing API libray to process barcodes and/or QR codes as data objects and what you can ponetially
        do with it. The cool part was attaching the barcode itself to some dummy data and creating individual google
        map queries for each object. Using the google maps API, I was able to explicitly pull up driving directions
        for each query.This project was a prototype and something I would like to come back to in the near future.

    </p>
    <!-- The expanding image container
<div class="container">
    <!-- Close the image -->
    <!-- <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span> -->

    <!-- Expanded image -->
    <!-- <img id="expandedImg" style="width:100%"> -->

    <!-- Image text -->
    <!-- <div id="imgtext"></div> -->
    <!-- </div> -->

</div>
