
        <div id="bodyContainer">
            <!-- The grid: four columns -->
            <div class="row">
                <div class="column">
                    <img src="images/tab1.png" alt="IMG.1" class="pic">

                    <!-- The expanding image container -->
                </div>

                <div class="column">
                    <img src="images/tab_add.png" alt="IMG.2"  class="pic">
                </div>
                <div class="column">
                    <img src="images/tab_edit2.png" alt="IMG.3"  class="pic">
                </div>

            </div>


            <p class="text"><span class="appTitle">To-Do list project:</span> This was a class project meant to combine different component concepts and put it all together.
            This application's intended utility was to create a all-in-one task list between two tabs, adding,deleting,editing
                and reordering tasks as the user sees fit. Here the android's recycler view module in a addtion to firebase
                database intergation create a responsive and efficent experience.
            </p>
        </div>