<div id="bodyContainer">
    <div class="row">
        <div class="column">
            <img src="images/WS_1.png" alt="IMG.1" class="pic">
        </div>
        <div class="column">
            <img src="images/WS_2.png" alt="IMG.2" class="pic">
        </div>

    </div>
    <p class="text"><span class="appTitle">Word Stack game:</span> A game that generates two words and scrambles them together into a letter stack. It is UP TO
        YOU to figure out what the two words are. This game demostrates the use of a variety of listeners to allow
        you to drag and drop the letter tiles to meet the win conditions. The letter titles themselves use the stack
        data structure for organization and distrubution.
    </p>
</div>

